<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
 <head>
  <meta charset="UTF-8"/>

  <title>怎么样</title>
 </head>
 <body>

 <img src="png/dt.gif" alt="ahah"/>  &nbsp; <img src="./png/dt2.gif" alt="心情好"/><br/>
  !!!!! <p> 祝大萌和宝宝健健康康  </p><br/>
 海明兄早市捞回本!
  <p th:text="${hello}"></p><br/>
 <form  action="person"  method="post"  ><br/>
  晚上吃啥<input type="text" name="name"/><br/>
 年龄:<input type="number" name="age" /><br/>
  <input type="submit" value="提交"/><br/>


 </form>
 </body>
</html>
